@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #637373;
}

header {
  background-color: #D5D0CA;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  text-align: center;
}
header nav ul li {
  padding: 10px;
  border-radius: 80px;
  background-color: #679B9C;
  transition: background-color 0.5s;
}
header nav ul li:hover {
  background-color: #065f61;
}
header nav ul li a {
  color: black;
  text-decoration: none;
}

header .pestañas nav ul {
  padding: 5px;
}
header .pestañas nav ul li a {
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 576px) {
  header {
    background-color: #D5D0CA;
  }
  header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    text-align: center;
  }
  header nav ul li {
    padding: 10px;
    border-radius: 80px;
    background-color: #679B9C;
    transition: background-color 0.5s;
  }
  header nav ul li:hover {
    background-color: #065f61;
  }
  header nav ul li a {
    color: black;
    text-decoration: none;
  }
  header .pestañas nav ul {
    padding: 5px;
  }
  header .pestañas nav ul li a {
    color: black;
    text-decoration: none;
  }
}
.main-general {
  padding: 30px 20px;
  text-align: center;
  background-color: #637373;
  flex-direction: column;
}

h2 {
  color: #FFEADB;
  padding: 20px 10px;
  margin: 50px;
  border-radius: 80px;
  background-color: black;
  flex-direction: column;
}

.comentarios {
  margin: 200px 0px 0px;
}

/* estilo del index para desktop */
main img {
  margin: 0px 0px 30px;
  padding: 2px;
  border-radius: 10px;
  background-color: black;
}

/*PAGINA PANADERIA*/
.main-general .texto-panaderia {
  margin: 40px 20px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.campo, .demi, .molde, .focaccia {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px;
}
.campo img, .demi img, .molde img, .focaccia img {
  border-radius: 50px;
}

/*PAGINA PASTELERIA*/
.main-general .texto-pasteleria {
  margin: 40px 50px;
  text-align: center;
  align-items: center;
}

.budin-limon, .coockie-avellanas, .alfajor-mani, .pepas {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px;
}
.budin-limon img, .coockie-avellanas img, .alfajor-mani img, .pepas img {
  border-radius: 50px;
}

/*PAGINA LAMINADOS*/
.main-general .texto-laminados {
  margin: 40px 50px;
  text-align: center;
  align-items: center;
}

.medialuna-manteca, .medialuna-grasa, .palmeritas {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px;
}
.medialuna-manteca img, .medialuna-grasa img, .palmeritas img {
  border-radius: 50px;
}

.main-general .comentarios .all-com {
  color: whitesmoke;
  padding: 20px;
  margin: 10px;
  background-color: #679b9c;
  border-radius: 20px;
}

@media screen and (min-width: 1024px) {
  h2 {
    color: #FFEADB;
    padding: 20px 10px;
    margin: 50px;
    border-radius: 80px;
    background-color: black;
  }
  .texto-main {
    padding: 30px 150px;
  }
  .main-general .comentarios {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 3fr;
  }
  .main-general .comentarios .com-1 {
    grid-column: span 2;
  }
  .main-general .comentarios .com-2 {
    grid-column: span 1;
  }
  .main-general .comentarios .com-3 {
    grid-column: span 1;
  }
  .main-general .comentarios .com-4 {
    grid-column: span 2;
  }
}
/*PAGINA GALERIA*/
body, .body-galeria {
  background-color: #679b9c;
}

.main-g .texto-galeria {
  text-align: center;
  margin: 50px;
  padding: 30px;
}
.main-g .contenedor {
  height: 70vh;
  margin: 30px 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 33%);
  row-gap: 10px;
  align-content: center;
}
.main-g .contenedor .img-dos, .main-g .contenedor .img-cinco {
  display: none;
}
.main-g div img {
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*estilos tablet*/
@media screen and (min-width: 576px) {
  header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #D5D0CA;
  }
  header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    text-align: center;
  }
  header nav ul li {
    padding: 10px;
    border-radius: 80px;
    background-color: #679B9C;
    transition: background-color 0.5s;
  }
  header nav ul li:hover {
    background-color: #065f61;
  }
  header nav ul li a {
    color: black;
    text-decoration: none;
  }
  header .pestañas nav ul {
    padding: 5px;
  }
  header .pestañas nav ul li a {
    color: black;
    text-decoration: none;
  }
  .main-g .contenedor {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50%);
    column-gap: 10px;
  }
  .main-g .contenedor .img-cuatro {
    grid-column: span 2;
  }
}
/*estilos desktop*/
@media screen and (min-width: 1024px) {
  .main-g .contenedor .img-dos, .main-g .contenedor .img-cinco {
    display: block;
  }
  .main-g .contenedor {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30% 30% 20%;
  }
  .main-g .contenedor .img-uno, .main-g .contenedor .img-tres {
    grid-row: span 2;
  }
  .main-g .contenedor .img-dos, .main-g .contenedor .img-cuatro {
    grid-column: span 1;
  }
  .main-g .contenedor .img-cinco {
    grid-column: span 3;
  }
}
footer {
  background-color: #679B9C;
  border-radius: 50px;
}

/*# sourceMappingURL=main.css.map */
