@mixin orden-panes{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px;
    
};

@mixin orden-pasteleria{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px;
}

@mixin orden-laminados{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px;
}

